<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundImage</key>
	<string>SCAA Wheel_Transparent.png</string>
	<key>Circle1</key>
	<dict>
		<key>FLORAL</key>
		<string>01_05_Floral.png</string>
		<key>FRUITY</key>
		<string>01_06_Fruity.png</string>
		<key>GREEN_VEGETATIVE</key>
		<string>01_08_GreenVegetative.png</string>
		<key>NUTTY_COCOA</key>
		<string>01_03_NuttyCocoa.png</string>
		<key>OTHER</key>
		<string>01_09_Other.png</string>
		<key>ROASTED</key>
		<string>01_01_Roasted.png</string>
		<key>SOUR_FERMENTED</key>
		<string>01_07_SourFermented.png</string>
		<key>SPICES</key>
		<string>01_02_Spices.png</string>
		<key>SWEET</key>
		<string>01_04_Sweet.png</string>
	</dict>
	<key>Circle2</key>
	<dict>
		<key>ALCOHOL_FERMENTED</key>
		<string>02_22_AlcoholFermented.png</string>
		<key>BEANY</key>
		<string>02_26_Beany.png</string>
		<key>BERRY</key>
		<string>02_17_Berry.png</string>
		<key>BLACK_TEA</key>
		<string>02_15_BlackTea.png</string>
		<key>BROWN_SPICE</key>
		<string>02_07_BrownSpice.png</string>
		<key>BROWN_SUGAR</key>
		<string>02_10_BrownSugar.png</string>
		<key>BURNT</key>
		<string>02_03_Burnt.png</string>
		<key>CEREAL</key>
		<string>02_04_Cereal.png</string>
		<key>CHEMICAL</key>
		<string>02_28_Chemical.png</string>
		<key>CITRUS_FRUIT</key>
		<string>02_20_CitrusFruit.png</string>
		<key>COCOA</key>
		<string>02_09_Cocoa.png</string>
		<key>DRIED_FRUIT</key>
		<string>02_18_DriedFruit.png</string>
		<key>FLORAL</key>
		<string>02_16_Floral.png</string>
		<key>GREEN_VEGETATIVE</key>
		<string>02_25_GreenVegetative.png</string>
		<key>NUTTY</key>
		<string>02_08_Nutty.png</string>
		<key>OLIVE_OIL</key>
		<string>02_23_OliveOil.png</string>
		<key>OTHER_FRUIT</key>
		<string>02_19_OtherFruit.png</string>
		<key>OVERALL_SWEET</key>
		<string>02_13_OverallSweet.png</string>
		<key>PAPERY_MUSTY</key>
		<string>02_27_PaperyMusty.png</string>
		<key>PEPPER</key>
		<string>02_06_Pepper.png</string>
		<key>PIPE_TOBACCO</key>
		<string>02_01_PipeTobacco.png</string>
		<key>PUNGENT</key>
		<string>02_05_Pungent.png</string>
		<key>RAW</key>
		<string>02_24_Raw.png</string>
		<key>SOUR</key>
		<string>02_21_Sour.png</string>
		<key>SWEET_AROMATICS</key>
		<string>02_14_SweetAromatics.png</string>
		<key>TOBACCO</key>
		<string>02_02_Tobacco.png</string>
		<key>VANILLA</key>
		<string>02_11_Vanilla.png</string>
		<key>VANILLIN</key>
		<string>02_12_Vanillin.png</string>
	</dict>
	<key>Circle3</key>
	<dict>
		<key>ACETIC_ACID</key>
		<string>03_42_AceticAcid.png</string>
		<key>ACRID</key>
		<string>03_01_Acrid.png</string>
		<key>ALMOND</key>
		<string>03_13_Almond.png</string>
		<key>ANIMALIC</key>
		<string>03_65_Animalic.png</string>
		<key>ANISE</key>
		<string>03_07_Anise.png</string>
		<key>APPLE</key>
		<string>03_34_Apple.png</string>
		<key>ASHY</key>
		<string>03_02_Ashy.png</string>
		<key>BITTER</key>
		<string>03_68_Bitter.png</string>
		<key>BLACKBERRY</key>
		<string>03_23_Blackberry.png</string>
		<key>BLUEBERRY</key>
		<string>03_25_Blueberry.png</string>
		<key>BROWN_ROAST</key>
		<string>03_04_BrownRoast.png</string>
		<key>BUTYRIC_ACID</key>
		<string>03_43_ButyricAcid.png</string>
		<key>CARAMELIZED</key>
		<string>03_18_Caramelized.png</string>
		<key>CARDBOARD</key>
		<string>03_59_Cardboard.png</string>
		<key>CHAMOMILE</key>
		<string>03_20_Chamomile.png</string>
		<key>CHERRY</key>
		<string>03_30_Cherry.png</string>
		<key>CHOCOLATE</key>
		<string>03_14_Chocolate.png</string>
		<key>CINNAMON</key>
		<string>03_09_Cinnamon.png</string>
		<key>CITRIC_ACID</key>
		<string>03_45_CitricAcid.png</string>
		<key>CLOVE</key>
		<string>03_10_Clove.png</string>
		<key>COCONUT</key>
		<string>03_29_Coconut.png</string>
		<key>DARK_CHOCOLATE</key>
		<string>03_15_DarkChocolate.png</string>
		<key>DARK_GREEN</key>
		<string>03_54_DarkGreen.png</string>
		<key>FERMENTED</key>
		<string>03_49_Fermented.png</string>
		<key>FRESH</key>
		<string>03_53_Fresh.png</string>
		<key>GRAIN</key>
		<string>03_05_Grain.png</string>
		<key>GRAPE</key>
		<string>03_33_Grape.png</string>
		<key>GRAPEFRUIT</key>
		<string>03_37_Grapefruit.png</string>
		<key>HAY_LIKE</key>
		<string>03_56_Haylike.png</string>
		<key>HAZELNUT</key>
		<string>03_12_Hazelnut.png</string>
		<key>HERB_LIKE</key>
		<string>03_57_Herblike.png</string>
		<key>HONEY</key>
		<string>03_19_Honey.png</string>
		<key>ISOVALERIC_ACID</key>
		<string>03_44_IsovalericAcid.png</string>
		<key>JASMINE</key>
		<string>03_22_Jasmine.png</string>
		<key>LEMON</key>
		<string>03_39_Lemon.png</string>
		<key>LIME</key>
		<string>03_40_Lime.png</string>
		<key>MALIC_ACID</key>
		<string>03_46_MalicAcid.png</string>
		<key>MALT</key>
		<string>03_06_Malt.png</string>
		<key>MAPLE_SYRUP</key>
		<string>03_17_MapleSyrup.png</string>
		<key>MEATY_BROTHY</key>
		<string>03_66_MeatyBrothy.png</string>
		<key>MEDICINAL</key>
		<string>03_70_Medicinal.png</string>
		<key>MOLASSES</key>
		<string>03_16_Molasses.png</string>
		<key>MOLDY_DAMP</key>
		<string>03_62_MoldyDamp.png</string>
		<key>MUSTY_DUSTY</key>
		<string>03_63_MustyDusty.png</string>
		<key>MUSTY_EARTHY</key>
		<string>03_64_MustyEarthy.png</string>
		<key>NUTMEG</key>
		<string>03_08_Nutmeg.png</string>
		<key>ORANGE</key>
		<string>03_38_Orange.png</string>
		<key>OVERRIPE</key>
		<string>03_50_Overripe.png</string>
		<key>PAPERY</key>
		<string>03_60_Papery.png</string>
		<key>PEACH</key>
		<string>03_35_Peach.png</string>
		<key>PEANUTS</key>
		<string>03_11_Peanuts.png</string>
		<key>PEAPOD</key>
		<string>03_52_Peapod.png</string>
		<key>PEAR</key>
		<string>03_36_Pear.png</string>
		<key>PETROLEUM</key>
		<string>03_71_Petroleum.png</string>
		<key>PHENOLIC</key>
		<string>03_67_Phenolic.png</string>
		<key>PINEAPPLE</key>
		<string>03_32_Pineapple.png</string>
		<key>POMEGRANATE</key>
		<string>03_31_Pomegranate.png</string>
		<key>PRUNE</key>
		<string>03_28_Prune.png</string>
		<key>RAISIN</key>
		<string>03_27_Raisin.png</string>
		<key>RASPBERRY</key>
		<string>03_24_Raspberry.png</string>
		<key>ROSE</key>
		<string>03_21_Rose.png</string>
		<key>RUBBER</key>
		<string>03_73_Rubber.png</string>
		<key>SALTY</key>
		<string>03_69_Salty.png</string>
		<key>SKUNKY</key>
		<string>03_72_Skunky.png</string>
		<key>SMOKY</key>
		<string>03_03_Smoky.png</string>
		<key>SOUR_AROMATICS</key>
		<string>03_41_SourAromatics.png</string>
		<key>STALE</key>
		<string>03_58_Stale.png</string>
		<key>STRAWBERRY</key>
		<string>03_26_Strawberry.png</string>
		<key>UNDER_RIPE</key>
		<string>03_51_Underripe.png</string>
		<key>VEGETATIVE</key>
		<string>03_55_Vegetative.png</string>
		<key>WHISKEY</key>
		<string>03_48_Whiskey.png</string>
		<key>WINEY</key>
		<string>03_47_Winey.png</string>
		<key>WOODY</key>
		<string>03_61_Woody.png</string>
	</dict>
</dict>
</plist>
